/*NULL *\ */
* {
  margin: 0 auto;
  padding: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

.saints-all-wrap *, .saints-all-wrap, .shadow div, .material-content *, .material-content, .all-wrap *, .all-wrap {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  text-decoration: none; }

* {
  font-family: "Geometria", sans-serif;
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

.wrapper {
  max-width: 100vw;
  overflow-x: hidden; }

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
  border-bottom: 1px solid rgba(223, 224, 224, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0; }

.start {
  margin-left: 8.15vw; }

.finish {
  margin-right: 6vw; }

.logo {
  width: 207px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }
  .logo:hover {
    opacity: .7; }
  .logo img {
    width: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

.main {
  margin-top: 80px;
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }

.main.main_gray {
  background-color: #f6f6f6; }

.authorize {
  width: 960px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 47px; }

.authorize-banner {
  width: 100%;
  height: 190px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.form-authorize-wrap {
  margin-top: 60px; }

.form-warning {
  font-size: 13px;
  color: #bb0032;
  text-align: right;
  margin-bottom: 17px;
  margin-top: -35px;
  display: none; }
  .form-warning.active {
    display: block; }

.authorize-title {
  font-family: "Geometria-Bold", sans-serif;
  font-size: 32px;
  line-height: 0.84;
  text-align: center;
  color: rgba(51, 51, 51, 0.9);
  margin-bottom: 50px;
  padding-left: 72px; }

.form-authorize {
  width: 432px;
  margin-left: auto;
  margin-right: auto; }

.form-authorize__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .form-authorize__label:last-of-type {
    margin-bottom: 0; }

.form-authorize__label-name {
  font-size: 15px;
  font-family: "Geometria-Medium", sans-serif;
  text-align: right;
  color: #333333;
  display: block;
  width: 52px;
  min-width: 52px;
  margin-right: 20px; }

.form-authorize__input {
  display: block;
  -webkit-transition: border .4s ease;
  -o-transition: border .4s ease;
  transition: border .4s ease;
  width: 360px;
  height: 55px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #dfe0e0;
  background-color: #ffffff;
  min-width: 360px;
  margin-right: 0;
  margin-left: 0;
  padding-left: 20px;
  font-size: 16px;
  color: #333333;
  font-family: "Geometria", sans-serif; }
  .form-authorize__input.error {
    border-color: #bb0032; }
  .form-authorize__input:focus {
    border: solid 1px #b1cd43; }
  .form-authorize__input::-webkit-input-placeholder {
    font-size: 15px;
    font-family: "Geometria-Medium", sans-serif;
    color: #cdd0d0; }
  .form-authorize__input::-moz-placeholder {
    font-size: 15px;
    font-family: "Geometria-Medium", sans-serif;
    color: #cdd0d0; }
  .form-authorize__input::-ms-input-placeholder {
    font-size: 15px;
    font-family: "Geometria-Medium", sans-serif;
    color: #cdd0d0; }
  .form-authorize__input::placeholder {
    font-size: 15px;
    font-family: "Geometria-Medium", sans-serif;
    color: #cdd0d0; }

.label-warning {
  font-size: 13px;
  color: #646464;
  display: none;
  margin-top: 10px;
  margin-left: 73px; }
  .label-warning.active {
    display: block; }

.form-authorize__submit {
  display: block;
  margin-left: 72px;
  width: 360px;
  height: 60px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #b1cd43;
  -webkit-appearance: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Geometria-Bold", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease; }
  .form-authorize__submit:hover {
    background-color: #7bab20; }

.title {
  font-size: 34px;
  font-family: "Geometria-Bold", sans-serif;
  color: #333333;
  text-align: center; }

.descr-label {
  text-transform: uppercase;
  font-size: 21px;
  font-family: "Geometria-Bold", sans-serif;
  text-align: center;
  margin-bottom: 18px;
  color: #b1cd43;
  margin-top: 50px; }

.text-content {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 27px; }
  .text-content p {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #333333;
    margin-bottom: 32px; }
  .text-content strong {
    font-family: "Geometria-Bold", sans-serif; }

.goTest-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 285px;
  height: 60px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #b1cd43;
  font-family: "Geometria-Bold", sans-serif;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none; }
  .goTest-btn:hover {
    background-color: #7bab20; }

.progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3; }

.progress-step {
  width: 16.7%;
  height: 12px;
  position: relative;
  background-color: rgba(223, 224, 224, 0.6); }
  .progress-step:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 6px;
    height: 12px;
    background-color: #cdd0d0;
    z-index: 2; }

.progress-step.progress-step_done:after {
  background-color: #91ac25; }

.progress-step.progress-step_done .progress-step__index {
  color: #a2be33;
  font-family: "Geometria-Bold", sans-serif;
  cursor: pointer; }
  .progress-step.progress-step_done .progress-step__index:hover {
    color: #7bab20; }

.progress-done__line {
  position: absolute;
  width: 0;
  -webkit-transition: width .15s ease;
  -o-transition: width .15s ease;
  transition: width .15s ease;
  left: 0;
  height: 12px;
  background-image: -webkit-gradient(linear, right top, left top, from(#d2e97a), to(#b1cd43));
  background-image: -webkit-linear-gradient(right, #d2e97a, #b1cd43);
  background-image: -o-linear-gradient(right, #d2e97a, #b1cd43);
  background-image: linear-gradient(to left, #d2e97a, #b1cd43);
  z-index: 1; }

.progress-step__index {
  position: absolute;
  left: 50%;
  bottom: -20px;
  font-size: 15px;
  font-weight: 500;
  color: #a3a4a6;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  display: block;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  cursor: default; }

.progress-step_active:after {
  background-color: #91ac25; }

.progress-step_active .progress-step__index {
  color: #a2be33;
  font-family: "Geometria-Bold", sans-serif;
  cursor: pointer; }
  .progress-step_active .progress-step__index:hover {
    color: #7bab20; }

.progress-step.progress-step_start, .progress-step.progress-step_end {
  width: 8.35vw;
  position: absolute;
  visibility: hidden; }

.hello-test {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 109px; }

.hello-test__title {
  font-size: 30px;
  font-family: "Geometria-Bold", sans-serif;
  margin-bottom: 30px;
  text-align: center;
  color: #3c3c3c; }

.timer {
  width: 157px;
  height: 60px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ececec;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .timer:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 25px;
    width: 30px;
    height: 38px;
    background: url("../img/clock.svg") no-repeat center center/contain; }

.timer_header.timer {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: -webkit-calc(50% + 160px + 195px);
  left: calc(50% + 160px + 195px);
  background-color: #ECF7C0; }

.timer.timer_centred {
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px; }

.timer[data-finish] .timer__time div {
  width: 28px; }

.timer__time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  padding-top: 3px;
  font-family: "Geometria-Bold", sans-serif;
  color: #9fba35;
  padding-left: 45px; }
  .timer__time * {
    font-family: "Geometria-Bold", sans-serif; }
  .timer__time span {
    padding: 0 5px; }

.timer_bad {
  background-color: #FEEFCF !important; }
  .timer_bad .timer__time {
    color: #FFA42E; }

.hello-test__btn {
  width: 285px;
  height: 60px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #b1cd43;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-family: "Geometria-Bold", sans-serif;
  color: #ffffff;
  margin: 40px auto 0 auto;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease; }
  .hello-test__btn:hover {
    background-color: #7bab20; }

.step {
  padding-top: 125px;
  padding-bottom: 100px;
  min-height: -webkit-calc(100vh - 92px);
  min-height: calc(100vh - 92px);
  position: relative;
  background-color: #fff; }

.step_one-list {
  width: 881px;
  margin-left: auto;
  margin-right: auto; }

.step_one-item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.step_one-list {
  counter-reset: section;
  margin-bottom: 60px;
  list-style-type: none; }

.step_one-item {
  padding: 12px 0;
  border-bottom: 1px solid #ececec;
  padding-left: 35px;
  position: relative; }
  .step_one-item:before {
    counter-increment: section;
    position: absolute;
    content: counters(section, ".") ".";
    left: 0;
    font-size: 20px;
    font-family: "Geometria-Bold", sans-serif;
    color: #3c3c3c;
    top: 0;
    padding-top: 20px; }
  .step_one-item:nth-of-type(10n) {
    margin-bottom: 80px; }
  .step_one-item:last-of-type {
    margin-bottom: 0 !important; }

.step_one-item__text {
  font-size: 16px;
  font-family: "Geometria-Medium", sans-serif;
  line-height: 1.94;
  color: #333333;
  padding-top: 5px; }

.step_one-item__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  min-width: 140px; }

.step_one-item__button {
  border: solid 1px #b1cd43;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 38px;
  font-size: 16px;
  font-family: "Geometria-Medium", sans-serif;
  text-align: center;
  color: #b1cd43;
  cursor: pointer;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }

.step_one-item__button.active {
  color: #ffffff;
  background-color: #b1cd43; }

.step_one-item__button_yes.step_one-item__button {
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  border-right: none; }

.step_one-item__button_no.step_one-item__button {
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0; }

.step__title {
  font-size: 30px;
  font-family: "Geometria-Bold", sans-serif;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 25px; }

.step_one__subtitle {
  font-size: 20px;
  font-family: "Geometria-Bold", sans-serif;
  line-height: 1.4;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 40px; }

.step__back {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 129px;
  height: 48px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #b1cd43;
  font-size: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 8vw;
  top: 65px;
  color: #b1cd43;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
  font-family: "Geometria-Medium", sans-serif; }
  .step__back span {
    display: block;
    padding-top: 3px;
    font-family: "Geometria-Bold", sans-serif; }
  .step__back:before {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background: url("../img/backArrow.svg") no-repeat center center/contain;
    margin-right: 10px;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px); }
  .step__back:hover {
    opacity: .8; }

.strong-block {
  display: block;
  margin-bottom: 10px; }

.good-job {
  font-size: 30px;
  font-family: "Geometria-Bold", sans-serif;
  line-height: 1.33;
  text-align: center;
  color: #b1cd43;
  margin-bottom: 10px; }

.slider-range {
  width: 9px;
  height: 380px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #ececec;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  .slider-range:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 21px;
    height: 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #cdd0d0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10; }
  .slider-range:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 21px;
    height: 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #cdd0d0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10; }

.thumb {
  width: 17px;
  height: 17px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .thumb:after {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1; }

.thumb.animated:after {
  -webkit-animation: pulse .3s ease infinite;
  animation: pulse .3s ease infinite; }

.thumb.thumb_user {
  background-color: #5d9ae1;
  z-index: 5; }
  .thumb.thumb_user:after {
    background-color: rgba(93, 154, 225, 0.3); }
  .thumb.thumb_user .thumb-count {
    color: #5d9ae1; }

.thumb-before_user {
  background-color: #5d9ae1; }

.thumb_max {
  background-color: #345ca5;
  z-index: 3;
  display: none; }
  .thumb_max .thumb-count {
    color: #345ca5; }
  .thumb_max.active {
    display: block; }
  .thumb_max:after {
    background-color: rgba(52, 92, 165, 0.3); }

.thumb-wrap {
  position: relative; }

.thumb-before {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 2;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px); }

.thumb-before_max {
  z-index: 1;
  background-color: #345ca5; }

.thumb-count {
  position: absolute;
  padding-left: 24px;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  font-size: 15px;
  font-family: "Geometria-Medium", sans-serif; }

.slider-range__wrap {
  width: 100px;
  margin-right: 45px; }
  .slider-range__wrap:last-of-type {
    margin-right: 0; }

.slider-range__description {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #5c5a5a;
  font-family: "Geometria-Bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  margin-top: 20px;
  line-height: 1.8; }

.ranges {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 70px; }

.slider-range__content {
  position: relative; }
  .slider-range__content:before {
    content: '';
    display: block;
    width: 13px;
    height: 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(163, 164, 166, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10; }

.slider-range__num {
  font-size: 15px;
  font-family: "Geometria-Medium", sans-serif;
  color: #cdd0d0; }

.slider-range__num_max {
  position: absolute;
  top: 14px;
  right: -10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.slider-range__num_min {
  position: absolute;
  bottom: 0;
  right: 7px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.ranges__description {
  width: 884px;
  margin: 60px auto 80px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .ranges__description .thumb {
    position: relative !important;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 0;
    left: 0;
    top: 0; }

.range-label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 84px; }
  .range-label:last-of-type {
    margin-right: 0; }

.range-label__text {
  font-size: 18px;
  color: #5c5a5a;
  font-family: "Geometria-Medium", sans-serif;
  margin-left: 19px; }

.goTest-btn[disabled] {
  opacity: .6; }

.schools-list {
  position: absolute;
  z-index: 3;
  background-color: #fff;
  width: 360px;
  right: 0;
  top: 55px;
  max-height: 300px;
  overflow: scroll;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(92, 90, 90, 0.1); }
  .schools-list li {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(92, 90, 90, 0.1); }

.step_four__form {
  width: 840px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

.step_four__label {
  display: block;
  width: 100%;
  margin-bottom: 40px; }
  .step_four__label:last-of-type {
    margin-bottom: 50px; }

.step_four__label-title {
  font-size: 18px;
  font-family: "Geometria-Bold", sans-serif;
  color: #3c3c3c;
  display: block;
  margin-bottom: 15px; }

.step_four__input {
  display: block;
  height: 60px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 16px;
  font-family: "Geometria", sans-serif;
  color: #3c3c3c;
  width: 100%;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }
  .step_four__input:focus {
    border-color: #b1cd43; }

.step_five__content {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px; }

.words-string {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 2px;
  color: #3c3c3c;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaecec; }
  .words-string::-moz-selection {
    background-color: transparent;
    color: #d0021b;
    cursor: pointer;
    font-family: "Geometria-Bold", sans-serif;
    font-weight: 600; }
  .words-string::selection {
    background-color: transparent;
    color: #d0021b;
    cursor: pointer;
    font-family: "Geometria-Bold", sans-serif;
    font-weight: 600; }

.user-words {
  padding-top: 40px;
  margin-bottom: 40px; }

.user-words__count {
  font-size: 18px;
  font-family: "Geometria-Bold", sans-serif;
  color: #3c3c3c;
  margin-bottom: 10px; }
  .user-words__count span {
    font-family: "Geometria-Bold", sans-serif; }

.user-words__words, .user-words__words span {
  font-size: 16px;
  font-family: "Geometria-Medium", sans-serif;
  line-height: 1.63;
  color: #3c3c3c; }

.strong-centred {
  margin-top: 40px;
  margin-bottom: -15px; }

.hello-test_final {
  margin-top: 80px;
  padding-top: 55px; }

.final-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px; }

.text-content_final p {
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: #333333; }

.text-content_final .hello-test__title {
  margin-bottom: 35px; }

.smile {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px); }

.displayNone {
  display: none !important; }

.canvas-wrap {
  width: 840px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px; }

#canvas {
  background-color: #F6F5F5; }

.time-finish {
  font-size: 16px;
  font-family: "Geometria-Medium", sans-serif;
  color: #ffa42e;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-height: 52px;
  padding: 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #feefcf;
  line-height: 1.23;
  position: relative;
  text-align: center;
  -webkit-transform: translateY(-65px);
  -ms-transform: translateY(-65px);
  transform: translateY(-65px);
  margin: auto;
  padding-left: 60px;
  max-width: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  padding-right: 20px; }
  .time-finish.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .time-finish:before {
    content: '';
    display: block;
    position: absolute;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 27px;
    height: 27px;
    background: url(../img/warning.svg) no-repeat center center/contain;
    left: 20px; }

.step-three-wrap {
  width: 882px;
  margin: 30px auto 60px auto; }

.question-wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .question-wrap:last-of-type {
    margin-bottom: 0; }

.question__number {
  font-size: 20px;
  font-family: "Geometria-Bold", sans-serif;
  color: #3c3c3c;
  margin-right: 20px; }

.question {
  width: 840px;
  min-width: 840px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #ececec;
  padding: 20px 40px 30px 40px; }

.question__text {
  font-size: 20px;
  font-family: "Geometria-Medium", sans-serif;
  line-height: 1.4;
  color: #3c3c3c;
  margin-bottom: 20px; }

.cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.answers-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px; }

.answer-col {
  margin-right: 50px; }
  .answer-col:last-of-type {
    margin-right: 0; }

.answer-col__el {
  font-size: 16px;
  line-height: 1.75;
  color: #3c3c3c; }

.image-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.question-image-wrap {
  margin-right: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 44px; }
  .question-image-wrap:last-of-type {
    margin-right: 0; }

.question-image__number {
  font-size: 20px;
  font-family: "Geometria-Bold", sans-serif;
  color: #3c3c3c;
  margin-right: 15px; }

.answer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.image-group.image-group_no-wrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .image-group.image-group_no-wrap .question-image-wrap {
    margin-right: 50px; }

.radio-group, .checkboxes-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -30px; }

.radio-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  cursor: pointer;
  margin-bottom: 30px; }
  .radio-label:last-of-type {
    margin-right: 0; }
  .radio-label input[type="radio"] {
    display: none; }
    .radio-label input[type="radio"]:checked + .radio-text:before {
      background-color: #e6f6a5;
      border-color: #b1cd43; }

.radio-text {
  display: block;
  position: relative;
  font-size: 16px;
  color: #3c3c3c;
  padding-left: 31px; }
  .radio-text:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #ececec;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 5px solid #ececec; }

.answer-input {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  display: block;
  padding-left: 10px;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  font-size: 16px;
  font-family: "Geometria", sans-serif;
  color: #3c3c3c; }
  .answer-input:focus {
    background-color: #fff;
    border-color: #b1cd43; }
  .answer-input.small-input {
    width: 69px;
    height: 50px; }
  .answer-input.full-input {
    width: 100%;
    height: 50px; }

.input-label__text {
  font-size: 16px;
  font-family: "Geometria-Medium", sans-serif;
  color: #3c3c3c;
  display: block;
  margin-bottom: 15px; }

.answer-bottom {
  font-size: 16px;
  font-family: "Geometria", sans-serif;
  color: #333333;
  margin-top: 33px; }
  .answer-bottom * {
    font-weight: 400;
    line-height: 1.4;
    font-family: "Geometria", sans-serif; }

.input-label {
  display: block; }

.answers-cols_number {
  margin-bottom: 40px; }
  .answers-cols_number .answer-col__el {
    margin-bottom: 33px;
    line-height: 1; }
    .answers-cols_number .answer-col__el:last-of-type {
      margin-bottom: 0; }

.answer__number {
  display: inline-block;
  font-size: 20px;
  font-family: "Geometria-Bold", sans-serif;
  color: #3c3c3c;
  margin-right: 10px; }

.answer-row-block {
  font-size: 20px;
  font-family: "Geometria-Medium", sans-serif;
  color: #3c3c3c;
  margin-right: 18px; }

.checkbox-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  cursor: pointer;
  margin-bottom: 30px; }
  .checkbox-label:last-of-type {
    margin-right: 0; }
  .checkbox-label input[type="checkbox"] {
    display: none; }
  .checkbox-label input[type="checkbox"]:checked + span.radio-text:before {
    background: #b1cd43 url("../img/check.svg") no-repeat center center/100%;
    border-color: #b1cd43; }

.step-three__info {
  width: 840px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ececec;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px;
  margin-top: -10px; }
  .step-three__info p {
    font-size: 16px;
    line-height: 1.75;
    color: #333333;
    margin-bottom: 22px; }
    .step-three__info p:last-of-type {
      margin-bottom: 0; }

.canvas-wrapper {
  width: 760px;
  height: 288px;
  background-color: #f6f5f5;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.canvas-block {
  width: 60px;
  height: 60px;
  border: solid 10px #b1cd43;
  position: absolute;
  margin: 2px; }

.canvas-point {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #FFD207;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 4;
  opacity: 0;
  cursor: pointer; }
  .canvas-point.active {
    opacity: 1 !important; }
  .canvas-point[data-hover="true"]:hover {
    opacity: 1; }

.canvas-row {
  display: none; }
  .canvas-row.active {
    display: block; }

.horizont {
  width: 60px;
  height: 3px;
  background-color: #FFD207;
  position: absolute; }

.vertical {
  height: 60px;
  width: 3px;
  background-color: #FFD207;
  position: absolute; }

.main-final {
  height: 100%; }

.final-top {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
  position: relative; }
  .final-top:after {
    content: '';
    display: block;
    position: absolute;
    width: 1000px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1px;
    background-color: #dfe0e0; }

.final-item {
  padding: 55px 0 60px 0;
  position: relative; }
  .final-item:after {
    content: '';
    display: block;
    position: absolute;
    width: 1000px;
    height: 1px;
    background-color: #dfe0e0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0; }

.final-item__title {
  font-size: 24px;
  font-family: "Geometria-Bold", sans-serif;
  margin-bottom: 20px;
  line-height: 1.17;
  text-align: center;
  color: #3c3c3c; }

.final-item__text {
  width: 760px;
  margin-left: auto;
  margin-right: auto; }
  .final-item__text p {
    font-size: 18px;
    line-height: 1.56;
    color: #3c3c3c;
    margin-bottom: 35px; }
    .final-item__text p:last-of-type {
      margin-bottom: 0; }

.final-item__block {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ececec;
  overflow: hidden; }

.diagram {
  margin: 40px 0;
  padding: 50px 45px; }

.diagram__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .diagram__item:last-of-type {
    margin-bottom: 0; }

.diagram__item-name {
  font-size: 10px;
  font-family: "Geometria-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: right;
  color: #5c5a5a;
  margin-right: 25px;
  min-width: 250px; }

.diagram__item-line {
  width: 380px;
  height: 9px;
  background-color: #fff;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  margin-right: 20px;
  position: relative; }

.diagram__item-result {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  width: 0;
  -webkit-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out; }

.diagram__item__count {
  font-size: 15px;
  font-family: "Geometria-Medium", sans-serif;
  color: #5c5a5a; }

.target-top {
  padding-bottom: 60px;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  position: relative; }
  .target-top:after {
    content: '';
    display: block;
    position: absolute;
    width: 1000px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1px;
    background-color: #dfe0e0; }

.target-top__img {
  min-width: 120px;
  margin-right: 37px; }

.target-top__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.target-top__text p {
  font-size: 18px;
  line-height: 1.56;
  color: #3c3c3c; }

.target {
  padding: 60px;
  padding-right: 80px; }
  .target p {
    font-size: 18px;
    line-height: 1.56;
    color: #3c3c3c; }

.target-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 50px; }
  .target-row:last-of-type {
    margin-bottom: 0; }

.target-row__img {
  margin-right: 62px; }

.target-row__title {
  font-size: 18px;
  font-family: "Geometria-Bold", sans-serif;
  margin-bottom: 15px;
  line-height: 1.56;
  color: #333333; }
  .target-row__title span {
    font-size: 18px;
    font-family: "Geometria-Bold", sans-serif;
    display: inline-block;
    margin-left: 15px;
    line-height: 1.56;
    color: #7bab20; }

.intelligence-block {
  margin-bottom: 60px; }

.intelligence-block__top {
  padding: 30px 40px;
  background-color: #83878c;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }
  .intelligence-block__top p {
    font-size: 18px;
    font-family: "Geometria-Medium", sans-serif;
    line-height: 1.56;
    color: #ffffff;
    margin-bottom: 35px; }
    .intelligence-block__top p:first-of-type {
      margin-top: 18px; }
    .intelligence-block__top p:last-of-type {
      margin-bottom: 0; }

.intelligence-block__result {
  font-size: 18px;
  font-family: "Geometria-Bold", sans-serif;
  line-height: 1.56;
  color: #ffffff; }
  .intelligence-block__result span {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    font-family: "Geometria-Bold", sans-serif;
    line-height: 1.56;
    color: #b1cd43; }

.intelligence-block__bottom {
  padding: 20px 40px 40px 40px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
  .intelligence-block__bottom p {
    font-size: 18px;
    line-height: 1.56;
    color: #3c3c3c;
    margin-bottom: 35px; }
    .intelligence-block__bottom p:last-of-type {
      margin-bottom: 0; }

.intelligence-table-wrap {
  margin-bottom: 60px; }

.intelligence-table__head th {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  height: 48px;
  background-color: #83878c;
  width: 177px;
  padding: 0 20px; }
  .intelligence-table__head th:first-of-type {
    width: 320px;
    padding: 0 30px; }

.intelligence-table__body tr {
  min-height: 56px;
  height: 56px;
  border: none; }
  .intelligence-table__body tr:nth-of-type(even) {
    background-color: #d8d8d8; }

.intelligence-table__body td {
  font-size: 16px;
  line-height: 1.63;
  color: #3c3c3c;
  padding: 10px 20px;
  text-align: left;
  vertical-align: top;
  width: 177px;
  min-height: 56px;
  border: none; }
  .intelligence-table__body td:nth-of-type(2) {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf; }
  .intelligence-table__body td:nth-of-type(3) {
    border-right: 1px solid #cfcfcf; }
  .intelligence-table__body td:first-of-type {
    padding: 10px 30px;
    width: 320px;
    font-size: 16px;
    font-family: "Geometria-Medium", sans-serif;
    color: #3c3c3c; }

.intelligence__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 285px;
  height: 60px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #b1cd43;
  font-size: 16px;
  font-family: "Geometria-Bold", sans-serif;
  color: #ffffff;
  margin-bottom: 75px;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease; }
  .intelligence__link:hover {
    background-color: #7bab20; }

.intelligence-res {
  margin-bottom: 40px; }
  .intelligence-res:last-of-type {
    margin-bottom: 0; }

.intelligence-res__result {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.intelligence__points {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.intelligence__point {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 7px; }
  .intelligence__point:last-of-type {
    margin-right: 0; }
  .intelligence__point.intelligence__point_good {
    background-color: #b1cd43; }
  .intelligence__point.intelligence__point_bad {
    background-color: #e05e6e; }
  .intelligence__point.intelligence__point_empty {
    background-color: #dfe0e0; }

.intelligence-res__text {
  font-size: 14px;
  color: #83878c;
  margin-left: 20px; }

.final-item_final .intelligence-block {
  margin-bottom: 0; }

.final-bottom {
  padding-bottom: 115px; }
  .final-bottom .text-content {
    margin-top: 60px; }

.step__result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 0 35px 0 20px;
  height: 48px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #b1cd43;
  font-size: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  right: 8vw;
  top: 65px;
  color: #b1cd43;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
  font-family: "Geometria-Medium", sans-serif; }
  .step__result:after {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background: url(../img/arrowRight.svg) no-repeat center center/contain;
    margin-right: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .step__result:hover {
    opacity: .8; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

