@import "variables";
@import "normalize";

* {
  font-family: $basic;
  outline: none !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.wrapper {
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
  border-bottom: 1px solid rgba(223, 224, 224, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.start {
  margin-left: 8.15vw;
}

.finish {
  margin-right: 6vw;
}

.logo {
  width: 207px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition: opacity .3s ease;
  &:hover {
    opacity: .7;
  }
  img {
    width: 100%;
    transform-origin: center center;
    transform: scale(.8);
  }
}

.main {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}

.main.main_gray {
  background-color: #f6f6f6;
}

.authorize {
  width: 960px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 47px;
}

.authorize-banner {
  width: 100%;
  height: 190px;
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.form-authorize-wrap {
  margin-top: 60px;
  &.lm {
    margin-top: 5px;
  }
}

.form-warning {
  font-size: 13px;
  color: #bb0032;
  margin-bottom: 17px;
  margin-top: -35px;
  display: none;
  width: 360px;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
  &.active {
    display: block;
  }
}

.authorize-title {
  font-family: $bold;
  font-size: 32px;
  line-height: 0.84;
  text-align: center;
  color: rgba(51, 51, 51, 0.9);
  margin-bottom: 50px;
  padding-left: 72px;
}

.tests-form {
  width: 465px;
  margin-left: auto;
  margin-right: auto;
}

.form-authorize__label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  flex-wrap: wrap;
  &:last-of-type {
    margin-bottom: 0;
  }

}

.form-authorize__label-name {
  font-size: 15px;
  font-family: $medium;
  text-align: right;
  color: #333333;
  display: block;
  width: 52px;
  min-width: 77px;
  margin-right: 20px;
}

.form-authorize__input {
  display: block;
  transition: border .4s ease;
  width: 360px;
  height: 55px;
  border-radius: 4px;
  border: solid 1px #dfe0e0;
  background-color: #ffffff;
  min-width: 360px;
  padding-left: 20px;
  font-size: 16px;
  color: #333333;
  font-family: $basic;
  &.error {
    border-color: #bb0032;
  }
  &:focus {
    border: solid 1px #b1cd43;
  }
  &::placeholder {
    font-size: 15px;
    font-family: $medium;
    color: #cdd0d0;
  }
}

.label-warning {
  font-size: 13px;
  color: #646464;
  display: none;
  margin-top: 10px;
  margin-left: 95px;
  &.active {
    display: block;
  }
}

.form-authorize__submit {
  display: block;
  width: 360px;
  height: 60px;
  border-radius: 4px;
  background-color: #b1cd43;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  font-family: $bold;
  font-size: 16px;
  color: #ffffff;
  margin-top: 40px;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-right: 0;
  margin-left: auto;
  &:hover {
    background-color: #7bab20;
  }
}

.title {
  font-size: 34px;
  font-family: $bold;
  color: #333333;
  text-align: center;
}

.descr-label {
  text-transform: uppercase;
  font-size: 21px;
  font-family: $bold;
  text-align: center;
  margin-bottom: 18px;
  color: #b1cd43;
  margin-top: 50px;
}

.text-content {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 27px;
  p {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #333333;
    margin-bottom: 32px;
  }
  strong {
    font-family: $bold;
  }
}

.goTest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 60px;
  border-radius: 4px;
  background-color: #b1cd43;
  font-family: $bold;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  transition: background-color .3s ease;
  cursor: pointer;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  &:hover {
    background-color: #7bab20;
  }
}

.progress {
  display: flex;
  position: relative;
  z-index: 3;
}

.progress-step {
  width: 16.7%;
  height: 12px;
  position: relative;
  background-color: rgba(223, 224, 224, 0.6);
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 12px;
    background-color: #cdd0d0;
    z-index: 2;
  }
}

.progress-step.progress-step_done {
  &:after {
    background-color: #91ac25;
  }
  .progress-step__index {
    color: #a2be33;
    font-family: $bold;
    cursor: pointer;
    &:hover {
      color: #7bab20;
    }
  }
}

.progress-done__line {
  position: absolute;
  width: 0;
  transition: width .15s ease;
  left: 0;
  height: 12px;
  background-image: linear-gradient(to left, #d2e97a, #b1cd43);
  z-index: 1;

}

.progress-step__index {
  position: absolute;
  left: 50%;
  bottom: -20px;
  font-size: 15px;
  font-weight: 500;
  color: #a3a4a6;
  transform: translateY(100%);
  display: block;
  transition: .4s ease;
  cursor: default;
}

.progress-step_active {
  &:after {
    background-color: #91ac25;
  }
  .progress-step__index {
    color: #a2be33;
    font-family: $bold;
    cursor: pointer;
    &:hover {
      color: #7bab20;
    }
  }
}

.progress-step.progress-step_start, .progress-step.progress-step_end {
  width: 8.35vw;
  position: absolute;
  visibility: hidden;
}

.hello-test {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 109px;
}

.hello-test__title {
  font-size: 30px;
  font-family: $bold;
  margin-bottom: 30px;
  text-align: center;
  color: #3c3c3c;
}

.timer {
  width: 157px;
  height: 60px;
  border-radius: 4px;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    width: 30px;
    height: 38px;
    background: url("../img/clock.svg") no-repeat center center /  contain;
  }
}

.timer_header.timer {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: calc(50% + 160px + 195px);
  background-color: #ECF7C0;
}

.timer.timer_centred {
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.timer[data-finish] .timer__time {
  div {
    width: 28px;
  }
}

.timer__time {
  display: flex;
  font-size: 20px;
  padding-top: 3px;
  font-family: $bold;
  color: #9fba35;
  padding-left: 45px;
  * {
    font-family: $bold;
  }
  span {
    padding: 0 5px;
  }
}

.timer_bad {
  background-color: #FEEFCF !important;
  .timer__time {
    color: #FFA42E;
  }
}

.hello-test__btn {
  width: 285px;
  height: 60px;
  border-radius: 4px;
  background-color: #b1cd43;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: $bold;
  color: #ffffff;
  margin: 40px auto 0 auto;
  transition: background-color .4s ease;
  &:hover {
    background-color: #7bab20;
  }
}

.step {
  padding-top: 125px;
  padding-bottom: 100px;
  min-height: calc(100vh - 92px);
  position: relative;
  background-color: #fff;
}

.step_one-list {
  width: 881px;
  margin-left: auto;
  margin-right: auto;
}

.step_one-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.step_one-list {
  counter-reset: section;
  margin-bottom: 60px;
  list-style-type: none;
}

.step_one-item {
  padding: 12px 0;
  border-bottom: 1px solid #ececec;
  padding-left: 35px;
  position: relative;
  &:before {
    counter-increment: section;
    position: absolute;
    content: counters(section, ".") ".";
    left: 0;
    font-size: 20px;
    font-family: $bold;
    color: #3c3c3c;
    top: 0;
    padding-top: 20px;
  }
  &:nth-of-type(10n) {
    margin-bottom: 80px;
  }
  &:last-of-type {
    margin-bottom: 0 !important;
  }
}

.step_one-item__text {
  font-size: 16px;
  font-family: $medium;
  line-height: 1.94;
  color: #333333;
  padding-top: 5px;
}

.step_one-item__buttons {
  display: flex;
  width: 140px;
  min-width: 140px;
}

.step_one-item__button {
  border: solid 1px #b1cd43;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 38px;
  font-size: 16px;
  font-family: $medium;
  text-align: center;
  color: #b1cd43;
  cursor: pointer;
  transition: .4s ease;
}

.step_one-item__button.active {
  color: #ffffff;
  background-color: #b1cd43;
}

.step_one-item__button_yes.step_one-item__button {
  border-radius: 10px 0 0 10px;
  border-right: none;
}

.step_one-item__button_no.step_one-item__button {
  border-radius: 0 10px 10px 0;
}

.step__title {
  font-size: 30px;
  font-family: $bold;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 25px;
}

.step_one__subtitle {
  font-size: 20px;
  font-family: $bold;
  line-height: 1.4;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 40px;
}

.step__back {
  position: absolute;
  display: flex;
  width: 129px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #a2be33;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  left: 8vw;
  top: 65px;
  color: #a2be33;
  transition: opacity .4s ease;
  font-family: $medium;
  span {
    display: block;
    padding-top: 3px;
    font-family: $bold;
  }
  &:before {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background: url("../img/backArrow.svg") no-repeat center center / contain;
    margin-right: 10px;
    transform: translateY(-1px);
  }
  &:hover {
    opacity: .8;
  }
  &.step__back_admin {
    top: 130px;
  }
}

.strong-block {
  display: block;
  margin-bottom: 10px;
}

.good-job {
  font-size: 30px;
  font-family: $bold;
  line-height: 1.33;
  text-align: center;
  color: #b1cd43;
  margin-bottom: 10px;
}

.slider-range {
  width: 9px;
  height: 380px;
  border-radius: 3px;
  background-color: #ececec;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 21px;
    height: 4px;
    border-radius: 3px;
    background-color: #cdd0d0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 21px;
    height: 4px;
    border-radius: 3px;
    background-color: #cdd0d0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

.thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 1;
  }
}

.thumb.animated {
  &:after {
    animation: pulse .3s ease infinite;
  }
}

.thumb.thumb_user {
  background-color: #5d9ae1;
  z-index: 5;
  &:after {
    background-color: rgba(93, 154, 225, 0.3);
  }
  .thumb-count {
    color: #5d9ae1;
  }
}

.thumb-before_user {
  background-color: #5d9ae1;
}

.thumb_max {
  background-color: #345ca5;
  z-index: 3;
  display: none;
  .thumb-count {
    color: #345ca5;
  }
  &.active {
    display: block;
  }
  &:after {
    background-color: rgba(52, 92, 165, 0.3);
  }
}

.thumb-wrap {
  position: relative;
}

.thumb-before {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 2;
  transform: translateY(6px);
}

.thumb-before_max {
  z-index: 1;
  background-color: #345ca5;

}

.thumb-count {
  position: absolute;
  padding-left: 24px;
  right: 0;
  transform: translateX(100%);
  font-size: 15px;
  font-family: $medium;
}

.slider-range__wrap {
  width: 100px;
  margin-right: 45px;
  &:last-of-type {
    margin-right: 0;
  }
}

.slider-range__description {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #5c5a5a;
  font-family: $bold;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  margin-top: 20px;
  line-height: 1.8;
}

.ranges {
  display: flex;
  justify-content: center;
  user-select: none;
  margin-bottom: 70px;
}

.slider-range__content {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 13px;
    height: 2px;
    border-radius: 3px;
    background-color: rgba(163, 164, 166, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.slider-range__num {
  font-size: 15px;
  font-family: $medium;
  color: #cdd0d0;
}

.slider-range__num_max {
  position: absolute;
  top: 14px;
  right: -10px;
  transform: translateY(-50%);
}

.slider-range__num_min {
  position: absolute;
  bottom: 0;
  right: 7px;
  transform: translateY(-50%);
}

.ranges__description {
  width: 884px;
  margin: 60px auto 80px auto;
  display: flex;
  .thumb {
    position: relative !important;
    transform: none;
    margin: 0;
    left: 0;
    top: 0;
  }
}

.range-label {
  display: inline-flex;
  align-items: center;
  margin-right: 84px;
  &:last-of-type {
    margin-right: 0;
  }

}

.range-label__text {
  font-size: 18px;
  color: #5c5a5a;
  font-family: $medium;
  margin-left: 19px;
}

.goTest-btn[disabled] {
  opacity: .6;
}

.schools-list {
  position: absolute;
  z-index: 3;
  background-color: #fff;
  width: 360px;
  right: 0;
  top: 55px;
  max-height: 300px;
  overflow: scroll;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(92, 90, 90, 0.1);
  li {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(92, 90, 90, 0.1);
  }
}

.step_four__form {
  width: 840px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.step_four__label {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

.step_four__label-title {
  font-size: 18px;
  font-family: $bold;
  color: #3c3c3c;
  display: block;
  margin-bottom: 15px;
}

.step_four__input {
  display: block;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 16px;
  font-family: $basic;
  color: #3c3c3c;
  width: 100%;
  transition: .4s ease;
  &:focus {
    border-color: #b1cd43;
  }

}

.step_five__content {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
}

.words-string {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 2px;
  color: #3c3c3c;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaecec;
  &::selection {
    background-color: transparent;
    color: #d0021b;
    cursor: pointer;
    font-family: $bold;
    font-weight: 600;
  }
}

.user-words {
  padding-top: 40px;
  margin-bottom: 40px;
}

.user-words__count {
  font-size: 18px;
  font-family: $bold;
  color: #3c3c3c;
  margin-bottom: 10px;
  span {
    font-family: $bold;
  }
}

.user-words__words, .user-words__words span {
  font-size: 16px;
  font-family: $medium;
  line-height: 1.63;
  color: #3c3c3c;
}

.strong-centred {
  margin-top: 40px;
  margin-bottom: -15px;
}

.hello-test_final {
  margin-top: 80px;
  padding-top: 55px;
}

.final-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.text-content_final {
  p {
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    color: #333333;
  }
  .hello-test__title {
    margin-bottom: 35px;
  }
}

.smile {
  transform: translateY(3px);
}

.displayNone {
  display: none !important;
}

.canvas-wrap {
  width: 840px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;

}

#canvas {
  background-color: #F6F5F5;
}

.time-finish {
  font-size: 16px;
  font-family: "Geometria-Medium", sans-serif;
  color: #ffa42e;
  width: max-content;
  min-height: 52px;
  padding: 3px;
  border-radius: 4px;
  background-color: #feefcf;
  line-height: 1.23;
  position: relative;
  text-align: center;
  transform: translateY(-65px);
  margin: auto;
  padding-left: 60px;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  display: none;
  padding-right: 20px;
  &.active {
    display: flex;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    width: 27px;
    height: 27px;
    background: url(../img/warning.svg) no-repeat center center / contain;
    left: 20px;
  }
}

.step-three-wrap {
  width: 882px;
  margin: 30px auto 60px auto;
}

.question-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  justify-content: space-between;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.question__number {
  font-size: 20px;
  font-family: $bold;
  color: #3c3c3c;
  margin-right: 20px;
}

.question {
  width: 840px;
  min-width: 840px;
  border-radius: 4px;
  border: solid 1px #ececec;
  padding: 20px 40px 30px 40px;
}

.question__text {
  font-size: 20px;
  font-family: $medium;
  line-height: 1.4;
  color: #3c3c3c;
  margin-bottom: 20px;
}

.cols {
  display: flex;
}

.answers-cols {
  display: flex;
  margin-right: 100px;
}

.answer-col {
  margin-right: 50px;
  &:last-of-type {
    margin-right: 0;
  }
}

.answer-col__el {
  font-size: 16px;
  line-height: 1.75;
  color: #3c3c3c;
}

.image-group {
  display: flex;
  flex-wrap: wrap;
}

.question-image-wrap {
  margin-right: 80px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 44px;
  &:last-of-type {
    margin-right: 0;
  }
}

.question-image__number {
  font-size: 20px;
  font-family: $bold;
  color: #3c3c3c;
  margin-right: 15px;
}

.answer-row {
  display: flex;
  align-items: center;
}

.image-group.image-group_no-wrap {
  flex-wrap: nowrap;
  .question-image-wrap {
    margin-right: 50px;
  }
}

.radio-group, .checkboxes-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.radio-label {
  display: flex;
  margin-right: 80px;
  cursor: pointer;
  margin-bottom: 30px;
  &:last-of-type {
    margin-right: 0;
  }
  input[type="radio"] {
    display: none;
    &:checked + .radio-text:before {
      background-color: #e6f6a5;
      border-color: #b1cd43;
    }
  }
}

.radio-text {
  display: block;
  position: relative;
  font-size: 16px;
  color: #3c3c3c;
  padding-left: 31px;
  &:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 2px;
    background-color: #ececec;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid #ececec;
  }
}

.answer-input {
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  display: block;
  padding-left: 10px;
  transition: .4s ease;
  font-size: 16px;
  font-family: $basic;
  color: #3c3c3c;
  &:focus {
    background-color: #fff;
    border-color: #b1cd43;
  }
  &.small-input {
    width: 69px;
    height: 50px;
  }
  &.full-input {
    width: 100%;
    height: 50px;
  }
}

.input-label__text {
  font-size: 16px;
  font-family: $medium;
  color: #3c3c3c;
  display: block;
  margin-bottom: 15px;

}

.answer-bottom {
  font-size: 16px;
  font-family: $basic;
  color: #333333;
  margin-top: 33px;
  * {
    font-weight: 400;
    line-height: 1.4;
    font-family: $basic;
  }
}

.input-label {
  display: block;
}

.answers-cols_number {
  margin-bottom: 40px;
  .answer-col__el {
    margin-bottom: 33px;
    line-height: 1;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.answer__number {
  display: inline-block;
  font-size: 20px;
  font-family: $bold;
  color: #3c3c3c;
  margin-right: 10px;
}

.answer-row-block {
  font-size: 20px;
  font-family: $medium;
  color: #3c3c3c;
  margin-right: 18px;
}

.checkbox-label {
  display: flex;
  margin-right: 80px;
  cursor: pointer;
  margin-bottom: 30px;
  &:last-of-type {
    margin-right: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + span.radio-text:before {
    background: #b1cd43 url("../img/check.svg") no-repeat center center / 100%;
    border-color: #b1cd43;
  }
}

.step-three__info {
  width: 840px;
  border-radius: 4px;
  background-color: #ececec;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px;
  margin-top: -10px;
  p {
    font-size: 16px;
    line-height: 1.75;
    color: #333333;
    margin-bottom: 22px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.canvas-wrapper {
  width: 760px;
  height: 288px;
  background-color: #f6f5f5;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.canvas-block {
  width: 60px;
  height: 60px;
  border: solid 10px #b1cd43;
  position: absolute;
  margin: 2px;
}

.canvas-point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFD207;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
  &.active {
    opacity: 1 !important;
  }
  &[data-hover="true"] {
    &:hover {
      opacity: 1;
    }
  }
}

.canvas-row {
  display: none;
  &.active {
    display: block;
  }
}

.horizont {
  width: 60px;
  height: 3px;
  background-color: #FFD207;
  position: absolute;
}

.vertical {
  height: 60px;
  width: 3px;
  background-color: #FFD207;
  position: absolute;
}

.main-final {
  height: 100%;
}

.final-top {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 1000px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #dfe0e0;
  }
}

.final-item {
  padding: 55px 0 60px 0;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 1000px;
    height: 1px;
    background-color: #dfe0e0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

.final-item__title {
  font-size: 24px;
  font-family: $bold;
  margin-bottom: 20px;
  line-height: 1.17;
  text-align: center;
  color: #3c3c3c;
}

.final-item__text {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  p {
    font-size: 18px;
    line-height: 1.56;
    color: #3c3c3c;
    margin-bottom: 35px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.final-item__block {
  border-radius: 4px;
  background-color: #ececec;
  overflow: hidden;
}

.diagram {
  margin: 40px 0;
  padding: 50px 45px;
}

.diagram__item {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.diagram__item-name {
  font-size: 10px;
  font-family: $bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: right;
  color: #5c5a5a;
  margin-right: 25px;
  min-width: 250px;
}

.diagram__item-line {
  width: 380px;
  height: 9px;
  background-color: #fff;
  border-radius: 9px;
  margin-right: 20px;
  position: relative;
}

.diagram__item-result {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 9px;
  width: 0;
  transition: width 1s ease-in-out;
}

.diagram__item__count {
  font-size: 15px;
  font-family: $medium;
  color: #5c5a5a;
}

.target-top {
  padding-bottom: 60px;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 1000px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #dfe0e0;
  }
}

.target-top__img {
  min-width: 120px;
  margin-right: 37px;
}

.target-top__row {
  display: flex;
  align-items: center;
}

.target-top__text p {
  font-size: 18px;
  line-height: 1.56;
  color: #3c3c3c;
}

.target {
  padding: 60px;
  padding-right: 80px;
  p {
    font-size: 18px;
    line-height: 1.56;
    color: #3c3c3c;
  }
}

.target-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.target-row__img {
  margin-right: 62px;
}

.target-row__title {
  font-size: 18px;
  font-family: $bold;
  margin-bottom: 15px;
  line-height: 1.56;
  color: #333333;
  span {
    font-size: 18px;
    font-family: $bold;
    display: inline-block;
    margin-left: 15px;
    line-height: 1.56;
    color: #7bab20;
  }
}

.intelligence-block {
  margin-bottom: 60px;
}

.intelligence-block__top {
  padding: 30px 40px;
  background-color: #83878c;
  border-radius: 4px 4px 0 0;
  p {
    font-size: 18px;
    font-family: $medium;
    line-height: 1.56;
    color: #ffffff;
    margin-bottom: 35px;
    &:first-of-type {
      margin-top: 18px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.intelligence-block__result {
  font-size: 18px;
  font-family: $bold;
  line-height: 1.56;
  color: #ffffff;
  span {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    font-family: $bold;
    line-height: 1.56;
    color: #b1cd43;
  }
}

.intelligence-block__bottom {
  padding: 20px 40px 40px 40px;
  border-radius: 0 0 4px 4px;
  p {
    font-size: 18px;
    line-height: 1.56;
    color: #3c3c3c;
    margin-bottom: 35px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.intelligence-table-wrap {
  margin-bottom: 60px;
}

.intelligence-table__head {
  th {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    vertical-align: middle;
    height: 48px;
    background-color: #83878c;
    width: 177px;
    padding: 0 20px;
    &:first-of-type {
      width: 320px;
      padding: 0 30px;
    }
  }
}

.intelligence-table__body {
  tr {
    min-height: 56px;
    height: 56px;
    border: none;
    &:nth-of-type(even) {
      background-color: #d8d8d8;
    }
  }
  td {
    font-size: 16px;
    line-height: 1.63;
    color: #3c3c3c;
    padding: 10px 20px;
    text-align: left;
    vertical-align: top;
    width: 177px;
    min-height: 56px;
    border: none;
    &:nth-of-type(2) {
      border-left: 1px solid #cfcfcf;
      border-right: 1px solid #cfcfcf;
    }
    &:nth-of-type(3) {
      border-right: 1px solid #cfcfcf;
    }
    &:first-of-type {
      padding: 10px 30px;
      width: 320px;
      font-size: 16px;
      font-family: $medium;
      color: #3c3c3c;
    }
  }
}

.intelligence__link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 285px;
  height: 60px;
  border-radius: 4px;
  background-color: #b1cd43;
  font-size: 16px;
  font-family: $bold;
  color: #ffffff;
  margin-bottom: 75px;
  transition: background-color .3s ease;
  &:hover {
    background-color: #7bab20;
  }
}

.intelligence-res {
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.intelligence-res__result {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.intelligence__points {
  display: flex;
  align-items: center;
}

.intelligence__point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 7px;
  &:last-of-type {
    margin-right: 0;
  }
  &.intelligence__point_good {
    background-color: #b1cd43;
  }
  &.intelligence__point_bad {
    background-color: #e05e6e;
  }
  &.intelligence__point_empty {
    background-color: #dfe0e0;
  }
}

.intelligence-res__text {
  font-size: 14px;
  color: #83878c;
  margin-left: 20px;
}

.final-item_final {
  .intelligence-block {
    margin-bottom: 0;
  }
}

.final-bottom {
  padding-bottom: 115px;
  .text-content {
    margin-top: 60px;
  }
}

.step__result {
  display: flex;
  position: absolute;
  padding: 0 35px 0 20px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #a2be33;
  font-size: 16px;
  align-items: center;
  right: 8vw;
  top: 65px;
  color: #a2be33;
  transition: opacity .4s ease;
  font-family: "Geometria-Medium", sans-serif;
  &:after {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background: url(../img/arrowRight.svg) no-repeat center center/contain;
    margin-right: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    opacity: .8;
  }
}

.clear-canvas {
  width: max-content;
  max-width: 250px;
  margin: 25px auto -10px auto;
  text-align: center;
  font-size: 20px;
  font-family: "Geometria-Medium", sans-serif;
  line-height: 1.4;
  color: #b1cd43;
  cursor: pointer;
  transition: .3s ease-in-out;
  padding: 10px;
  position: relative;
  display: none;
  &.active {
    display: block;
  }
  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: 45%;
    transform: translateY(-50%);
    background: url("../img/reload.svg") no-repeat center center / contain;
  }
  &:hover {
    opacity: .6;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.form-authorize__input[disabled] {
  background-color: #f6f6f6;
}

.edit-table-wrap {
  width: 908px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.edit-table__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 0.84;
  text-align: center;
  color: rgba(51, 51, 51, 0.9);
  margin-bottom: 50px;
}

.edit-table__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  height: 48px;
  border-radius: 4px;
  background-color: #b1cd43;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  font-family: $bold;
  transition: .4s ease;
  &:hover {
    background-color: #7bab20;
  }
}

.delete-btn {
  width: 127px;
  height: 48px;
  border-radius: 4px;
  background-color: #ffa42e;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-family: $bold;
  transition: .4s ease;
  &:hover {
    opacity: .8;
  }
  &[disabled] {
    cursor: unset;
    background-color: #ececec;
    &:hover {
      opacity: 1;
    }
  }
}

.edit-table {
  border-radius: 4px;
  border: solid 1px #ececec;
  width: 100%;
}

.edit-table__head {
  border-radius: 4px 4px 0 0;
}

.edit-table__head th {
  padding: 15px;
  border-right: 1px solid #ececec;
  text-align: left;
  vertical-align: middle;
  .radio-label {
    margin-bottom: 0;
  }
  &:last-of-type {
    border-right: none;
  }
}

.edit-table {
  tr {
    border-bottom: 1px solid #ececec;
    .radio-text:before {
      transform: none;
      position: static;
    }
    .radio-text {
      padding-left: 0;
    }
    .radio-label {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

    }
  }
  td {
    vertical-align: middle;
    padding: 15px;
    border-right: 1px solid #ececec;
  }
}

.delete-popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  transition: .4s ease;
  &.active {
    opacity: 1;
    display: block;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(194, 194, 195, 0.49);
  z-index: 1;
}

.delete-popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 405px;
  height: 258px;
  box-shadow: 0 2px 8px 0 #e8e9ec;
  border: solid 1px #e8e9ec;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-popup__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.35;
  text-align: center;
  color: #3c3c3c;
  font-family: $bold;
  margin-bottom: 20px;
}

.delete-popup__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  color: #646464;
  font-family: $medium;
  margin-bottom: 20px;
}

.delete-popup__buttons {
  display: flex;
  justify-content: center;
}

.delete-popup__undo {
  cursor: pointer;
  -webkit-appearance: none;
  width: 115px;
  height: 44px;
  border-radius: 3px;
  background-color: #b1cd43;
  border: none;
  box-shadow: none;
  transition: .4s ease;
  font-size: 15px;
  font-weight: bold;
  font-family: $bold;
  color: #ffffff;
  margin-right: 20px;
  &:hover {
    background-color: #7bab20;
  }
}

.delete-popup__delete {
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: none;
  transition: .4s ease;
  width: 103px;
  height: 44px;
  border-radius: 3px;
  border: solid 1px #bdbdbd;
  font-size: 15px;
  font-weight: bold;
  color: rgba(100, 100, 100, 0.8);
  font-family: $bold;
  &:hover {
    opacity: .8;
  }
}

.delete-popup__close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../img/shape.svg") no-repeat center center / contain;
  width: 12px;
  height: 12px;
  transition: .4s ease;
  &:hover {
    opacity: .8;
  }

}

.edit-table_group tbody td {
  font-size: 14px;
  font-weight: 500;
  font-family: $medium;
  color: #3c3c3c;
}

.edit-table-wrap_group.edit-table-wrap {
  width: 1149px;
}

.view-result {
  font-size: 14px;
  font-weight: bold;
  font-family: $bold;
  transition: .4s ease;
  color: #b1cd43;
  &:hover {
    opacity: .8;
  }
}

.result-td {
  background-color: #fff;
}

.edit-table__body tr {
  transition: .4s ease;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    background-color: rgba(236, 236, 236, 0.3);
  }
}

.left-buttons {
  display: flex;
}

.transparent-btn {
  font-size: 16px;
  font-weight: bold;
  color: #b1cd43;
  font-family: $bold;
  border-radius: 4px;
  border: solid 1px #b1cd43;
  box-shadow: none;
  -webkit-appearance: none;
  height: 48px;
  padding: 15px 30px;
  cursor: pointer;
  transition: .4s ease;
  margin-left: 25px;
  &:hover {
    opacity: .8;
  }
}

.edit-group {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(223, 224, 224, 0.6);
  padding-top: 50px;
}

.edit-group__content {
  width: 1151px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .form-warning {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
  }
  .label-warning {
    position: absolute;
    bottom: -20px;
    right: 0;
    margin-left: 0;
  }
}

.edit-group__form {
  width: 100%;
  display: flex;
}

.edit-group__form {
  input {
    min-width: 1px;
  }
  .form-authorize__label {
    flex-wrap: nowrap;
    margin-bottom: 0;
    margin-right: 40px;
  }
  .form-authorize__label-name {
    width: auto;
    min-width: 1px;
    white-space: nowrap;
    margin-right: 15px;
  }
  .form-authorize__input {
    padding-left: 15px;
  }
}

.form-authorize__input {
  &.id-input {
    width: 56px;
  }
  &.school-input {
    width: 300px;
  }
  &.sc-input {
    width: 84px;
  }
  &.email-input {
    width: 184px;
  }
}

.edit-group__submit {
  width: 147px;
  height: 60px;
  border-radius: 4px;
  background-color: #b1cd43;
  border: none;
  box-shadow: none;
  transition: .4s ease;
  -webkit-appearance: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  font-family: $bold;
  cursor: pointer;
  &:hover {
    background-color: #7bab20;
  }
}

.error-question.question {
  border: solid 1px #ffa42e;
  .radio-label.error-label {
    input[type="radio"]:checked + .radio-text:before {
      border-color: #ffa42e;
      background-color: #ffe6c6;
    }
    .radio-text {
      font-size: 16px;
      font-weight: bold;
      color: #ffa42e;
      font-family: $bold;
    }
  }

}

.true-label {
  .radio-text {
    font-size: 16px;
    font-weight: bold;
    font-family: $bold;
    color: #b1cd43;
  }
}

.true-question {
  border: solid 1px #b1cd43;
}

.input-col {
  position: relative;
  height: max-content;
}

.error-input {
  border: solid 1px #ffa42e;
  background-color: #fafafa;
  font-size: 16px;
  font-weight: bold;
  color: #ffa42e;
}

.true-result {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(100%, -50%);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #b1cd43;
  font-family: $bold;
}
.result{
  margin-top: 125px;
  padding-bottom: 125px;
  .step__back{
    top: 125px;
  }
}
.step-result {
  width: 873px;
  margin-left: auto;
  margin-right: auto;
  .step__title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #3c3c3c;
  }
}
.result-count{
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3c;
  font-family: $medium;
  margin-top: 30px;
  span{
    display: inline-block;
    margin-right: 38px;
  }
}
.result-items{
  margin-top: 50px;
  .ranges{
    margin-bottom: 0;
  }
}
.result-item{
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(223, 224, 224, 0.6);
  &:last-of-type{
    border-bottom: none;
    margin-bottom: 90px;
  }
}
.step-result_big.step-result{
  width: 1189px;
}
.step-result__table{
  td, th{
    vertical-align: middle;
    border: 1px solid rgba(236, 236, 236, 0.9);
    min-width: 142px;
    height: 52px;
    min-height: 52px;
    text-align: left;
    padding: 11px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #3c3c3c;
    &:first-of-type{
      width: 50px;
      min-width: 50px;
      text-align: center;
    }
  }
}
.step-result__table{
  width: 100%;
}
.step-result__table-wrap{
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 700px;
  overflow-y: auto;
}
.disabled-td{
  background-color: #ececec;
}
.step__back_static.step__back{
  position: static;
  transform: none;
  margin-left: auto;
  margin-right: auto;
}