.noUi-background {
  height: 16px;
}
.noUi-background.noUi-vertical {
  height: 200px;
  width: 16px;
  margin: 0 auto 30px;
}

.noUi-base .noUi-connect {
  background-color: #462969;
}
.noUi-base .noUi-handle {
  background-color: #5e378e;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #FFFFFF;
  display: table;
  font-size: 15px;
  height: 40px;
  left: 0;
  margin-left: -22px;
  margin-top: -13px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80px;
  z-index: 2;
}
.noUi-horizontal .noUi-base .noUi-handle {
  cursor: ew-resize;
}
.noUi-vertical .noUi-base .noUi-handle {
  cursor: ns-resize;
  margin-left: -32px;
}
.noUi-base .noUi-handle:hover {
  background-color: #7645b3;
}
.noUi-base .noUi-handle.noUi-active {
  background-color: #462969;
  z-index: 3;
}
.noUi-base .noUi-handle::before {
  background: transparent;
  content: attr(data-value);
  display: table-cell;
  font-size: 18px;
  font-weight: 100;
  position: static;
  width: 100%;
  vertical-align: middle;
}
.noUi-base .noUi-handle::after {
  display: none;
}
